body {
    font-family: 'Open Sans', sans-serif;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.content-block {
    padding: 50px;
}

.content-block h3 {
    text-transform: none;
    font-weight: bold;
    margin-bottom: 1em;
}

h3.thanks {
    text-transform: none;
    text-align: right;
    margin-top: 10px;
    font-weight: bold;
}

.content-block a {
    color: #4298cc;
}

.content-card {
    background: #ffffff;
    box-shadow: 2px 2px 5px 1px #e5e5e5;
    margin: 2px 2px 5px 2px;
}

.content-block p.large-copy {
    font-size: 2em;
    line-height: 1.3;
    font-weight: 300;
}

.content-card-copy {
    padding: 20px;
    height: 220px;
}

.content-card-copy p {
    font-size: 1em;
    line-height: 1.4;
}

.content-card-copy .button-container {
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
}


.btn-default {
    background: #fff;
    border: #4298cc solid 1px;
    padding: 12px 24px;
    text-align: center;
    color: #4298cc;
    text-transform: uppercase;
}

.btn-full-width {
    display: block;
    background: #fff;
    border: #4298cc solid 1px;
    padding: 12px 24px;
    text-align: center;
    color: #4298cc;
    text-transform: uppercase;
}

.btn-250 {
    display: block;
    width: 250px;
    background: #fff;
    border: #4298cc solid 1px;
    padding: 12px 24px;
    text-align: center;
    color: #4298cc;
    text-transform: uppercase;
    margin-top: 40px;
}

.btn-card {
    display: block;
    width: 215px;
    background: #fff;
    border: #4298cc solid 1px;
    padding: 12px 24px;
    text-align: center;
    color: #4298cc;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}

.banner-blue {
    background: #4298cc;
    text-align: center;
}

.orangeheader {
    background: #ef8b2a;
    padding: 20px 0 0 0;
    text-align: center;
}

.orangeheader h2 {
    margin: 0;
    color: #ffffff;
}

.yellowheader {
    background: #fdde53;
    padding: 20px 0 0 0;
    text-align: center;
}

.yellowheader h2 {
    margin: 0;
    color: #424242;
}

p.heading {
    text-transform: uppercase;
    color: #4298cc;
    font-weight: bold;
    font-size: 1.4em;
}

.blue-banner h2 {
    color: #ffffff;
}

.bg-gray {
    background: #f5f5f5;
}

.bg-white {
    background: #ffffff;
}

.bg-blue {
    background: #4298cc;
    padding: 20px 0;
}

.bg-blue h2 {
    color: #ffffff;
    text-align: right;
    margin: 0;
    font-weight: bold;
}

.i-am-more-logo {
    max-width: 300px;
}

p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #424242;
}

p {
    margin-bottom: .75em;
}

li {
    font-size: 1.2em;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 36px;
    margin: 0 0 .5em 0;
}

h4 {
    font-size: 24px;
}

i.fab {
    font-size: 18px;
    margin-right: 5px;
}


.admin-hero {
    height: 400px;
    background-image: url('https://www.voyagersopris.com/images/default-source/campaigns/i-am-more/admin-hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.teacher-hero {
    height: 400px;
    background-image: url('https://www.voyagersopris.com/images/default-source/campaigns/i-am-more/teacher-hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contest-hero {
    height: 500px;
    background-image: url('https://www.voyagersopris.com/images/default-source/campaigns/i-am-more/contest-hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Cards with background images & buttons */

.card-engagement,
.card-literacy {
    padding: 20px;
}

.card-engagement .btn-full-width,
.card-literacy .btn-full-width {
    margin-top: 150px;
}

.card-engagement.home1 {
    background-image: url('https://www.voyagersopris.com/images/default-source/campaigns/i-am-more/home-engagement-card1.jpg');
    height: 240px;
    background-size: cover;
}

.card-engagement.home2 {
    background-image: url('https://www.voyagersopris.com/images/default-source/campaigns/i-am-more/home-engagement-card2.jpg');
    height: 240px;
    background-size: cover;
}

.card-engagement.home3 {
    background-image: url('https://www.voyagersopris.com/images/default-source/campaigns/i-am-more/admin-page-principal.png');
    height: 240px;
    background-size: cover;
}

.card-literacy.admin1 {
    background-image: url('http://via.placeholder.com/600x400');
    height: 240px;
    background-size: cover;
}

.card-literacy.admin2 {
    background-image: url('http://via.placeholder.com/600x400');
    height: 240px;
    background-size: cover;
}

.card-literacy.admin3 {
    background-image: url('http://via.placeholder.com/600x400');
    height: 240px;
    background-size: cover;
}

.card-literacy {
    margin-bottom: 1em;
}

.stats p.stat-quantity {
    font-size: 36px;
    color: #4298cc;
    font-weight: bold;
    margin-bottom: .3em;
}

.stats p.stat-type {
    color: #4298cc;
}


@media (max-width: 480px) {
    .content-block {
        padding: 20px;
    }

    .hide-hardbreak {
        display: none;
    }

    .btn-card {
        width: 100%;
    }

    .margin-bottom-40 {
        margin-bottom: 20px;
    }

    .content-card-copy .button-container {
        position: relative;
        margin-top: 30px;
        margin-bottom: 0;
    }

    .content-card-copy {
        height: auto;
    }

    .margin-right-20 {
        margin-right: 0;
    }
}